.form-control,
.account-form input {
  border-radius: 0;
  border: 2px solid #ccc;
  height: calc(2em + .75rem + 2px);
}

.form-control input:focus,
.account-form:focus {
  border-radius: 0;
  border-color: #1497ff;
  box-shadow: none;
}

.container-fluid {
  max-width: 100%;
}

.btn {
  border-radius: 0;
}