.account-form input {
  border-radius: 0;
  border: 2px solid #ccc;
}

.form-control,
.account-form input:focus {
  border-radius: 0;
  border-color: #1497ff;
  box-shadow: none;
}

.container-fluid {
  max-width: 100%;
}

.container {
  max-width: 1200px !important;
}