/* ------------------------------- bootstrap toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 10px;
  z-index: 99999999999;
}

.toast {
  position: fixed;
  top: 8.9rem;
  right: 0;
}

.toast-capper {
  height: 5px;
}

.cart-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}