<div class="toast bg-light custom-toast rounded-0 border-top-0" data-autohide="false">
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header bg-light">
        <p class="mx-auto my-0 p-0 text-black fw-bold">Notification!</p>
        <button type="button" class="btn close" data-dismiss="toast" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="toast-body bg-light text-center">
        {{ message }}
    </div>
</div>